extends _layouts/base

include _modules/link/link

include navegar

block content
  include navegar
  .container-fluid.align-items-center.text-center(style="height: 100vh")
    .row.mt-5
      .col-sm.my-5
        h4
          i.fas.fa-wifi.fa-5x
        h2 Addio Mondo Crudele
        button.btn.btn-dark(type='button') Imprint
        img.logo.ml-5(src="images/yeogurt-swirl.png", width="75px")
      .col-sm.my-5
        h4
          i.fas.fa-wifi.fa-5x
        h2 Addio Mondo Crudele
        button.btn.btn-dark(type='button') Imprint
        img.logo.ml-5(src="images/yeogurt-swirl.png", width="75px")      
      .col-sm.my-5
        h4
          i.fas.fa-wifi.fa-5x
        h2 Addio Mondo Crudele
        button.btn.btn-dark(type='button') Imprint
        img.logo.ml-5(src="images/yeogurt-swirl.png", width="75px")

    .row
      .col-sm.my-4
        h4
          i.fas.fa-wifi.fa-5x
        h2 Addio Mondo Crudele
        button.btn.btn-dark(type='button') Imprint
        img.logo.ml-5(src="images/yeogurt-swirl.png", width="75px")
      .col-sm.my-4
        h4
          i.fas.fa-wifi.fa-5x
        h2 Addio Mondo Crudele
        button.btn.btn-dark(type='button') Imprint
        img.logo.ml-5(src="images/yeogurt-swirl.png", width="75px")      
      .col-sm.my-4
        h4
          i.fas.fa-wifi.fa-5x
        h2 Addio Mondo Crudele
        button.btn.btn-dark(type='button') Imprint
        img.logo.ml-5(src="images/yeogurt-swirl.png", width="75px")