extends _layouts/base

include _modules/link/link

include navegar

block content
  include navegar
  .container-fluid(style="height: calc(100vh - 85px")
    .row.align-items-center
      .col-sm
        h4
          i.fas.fa-wifi.fa-5x
        h2 Addio Mondo Crudele
        button.btn.btn-dark(type='button') Imprint
        img.logo.ml-5(src="images/yeogurt-swirl.png", width="75px")
      .col-sm
        h4
          i.fas.fa-wifi.fa-5x
        h2 Addio Mondo Crudele
        button.btn.btn-dark(type='button') Imprint
        img.logo.ml-5(src="images/yeogurt-swirl.png", width="75px")      
      .col-sm
        h4
          i.fas.fa-wifi.fa-5x
        h2 Addio Mondo Crudele
        button.btn.btn-dark(type='button') Imprint
        img.logo.ml-5(src="images/yeogurt-swirl.png", width="75px")

    .row.align-items-center
      .col-sm
        h4
          i.fas.fa-wifi.fa-5x
        h2 Addio Mondo Crudele
        button.btn.btn-dark(type='button') Imprint
        img.logo.ml-5(src="images/yeogurt-swirl.png", width="75px")
      .col-sm
        h4
          i.fas.fa-wifi.fa-5x
        h2 Addio Mondo Crudele
        button.btn.btn-dark(type='button') Imprint
        img.logo.ml-5(src="images/yeogurt-swirl.png", width="75px")      
      .col-sm
        h4
          i.fas.fa-wifi.fa-5x
        h2 Addio Mondo Crudele
        button.btn.btn-dark(type='button') Imprint
        img.logo.ml-5(src="images/yeogurt-swirl.png", width="75px")